name: HitAPI
services:
    app:
        build: .
        container_name: backend
        restart: unless-stopped
        env_file:
            - .env
        ports:
            - '${PORT}:${PORT}'
        volumes:
            - .:/app
        command: npm start
        depends_on:
            - postgresDB
            - redisCache
    postgresDB:
        image: postgres:latest
        container_name: postgres-db
        restart: unless-stopped
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DATABASE}
        ports:
            - '${POSTGRES_PORT}:${POSTGRES_PORT}'
        volumes:
            - db-data:/var/lib/postgresql
    redisCache:
        image: redis/redis-stack:latest
        container_name: redis-cache
        restart: unless-stopped
        ports:
            - '${REDIS_PORT}:${REDIS_PORT}'
        volumes:
            - cache-data:/data
volumes:
    db-data:
    cache-data:
